QWidget
{
    background-color: #404040;
    color: #ff6200;
}

QListWidget
{
    border: 1px;
    border-color: #ff6200;
    border-style: solid;
    border-radius: 5px;
    padding: 1px;
}

QListWidget::Item:hover
{
    background: #303030;
    border-radius: 5px;
}

QListWidget::Item:selected:active
{
    background: #303030;
    color: #000000;
}

QListWidget::Item:selected:!active
{
    background: #303030;
    border: 1px;
    border-color: #ff6200;
    border-radius: 5px;
}

QLineEdit
{
    background-color: #404040;
    border: 1px;
    border-color: #ff6200;
    border-style: solid;
    border-radius: 5px;
    padding: 0 8px;
    height: 31px;
    width: 500px;
}

QLineEdit:hover
{
    background-color: #303030;
    border: 1.2px;
    border-color: #ff6200;
    border-style: solid;
    border-radius: 5px;
    padding: 0 8px;
    height: 31px;
    width: 500px;
}

QPushButton
{
    background-color: #404040;
    border: 1px;
    border-color: #ff6200;
    border-style: solid;
    border-radius: 5px;
    padding: 0 8px;
    height: 31px;
    width: 60px;
    font: italic;
}

QPushButton:hover
{
    background-color: #303030;
}

QPushButton:pressed
{
    background-color: #303030;
    border: 1px;
}

QMessageBox
{
    width: 500px;
    height: 250px;
}

